@import "../mixin.scss";

.projects {
    max-width: $max-width;
    padding: 1.5rem 1.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    background: white;
    padding: 4.5rem 1.5rem 3rem;

}
.projects__title {
    text-align: center;
   
    @include alfaText;
    font-size: 1.5em;
}
.projects__title-span {
    color: $blue-color;
}
