@import "../mixin.scss";

.header {
  background: #181a1b;
  background-size: cover;
  position: relative;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__cntr {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 1.5rem 1.5rem;
  width: 100%;
  align-items: center;
  margin-bottom: 32px;
}

.header__nav-list {
  display: flex;
  gap: 32px;
  
}

.header__logo-name {
  @include regularText;
  font-size: 24px;
  line-height: 32px;
}
.header__logo-prof {
  @include regularText;
  font-size: 16px;
  line-height: 24px;
}
.header__nav-item::after {
  content: "";
  position: relative;
  display: block;
  width: 0%;
  height: 2px;
  top: 3px;
  margin: auto;
  background: #3b82f6;
  transition: width 0.3s ease;
}
.header__nav-item:hover::after {
  width: 100%;
}
.header__link {
  display: flex;
  gap: 8px;
  align-items: center;
}
.header__link-txt {
  @include regularText;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
}
.header-burger {
  display: none;
}
.header__title {
  max-width: 640px;
  width: 100%;
  text-align: center;
  @include alfaText;
  letter-spacing: 2px;
  white-space: nowrap;
  font-size: clamp(2rem, 5vw, 4rem);
  margin-bottom: 24px;
}
.header__name {
  color: $blue-color;
}
.header__description {
  @include regularText;
  color: #dcdcdc;
  line-height: 1.6;
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  text-align: center;
  max-width: 640px;
  margin-bottom: 24px;
  padding: 0.5rem;
}
.header__btns {
  display: flex;
  gap: 24px;
  margin-bottom: 150px;
}
.github-btn {
  @include transparentButton;
}
.github-btn:hover {
  @include transparentButtonHover;
}

.projects-btn {
  @include blueButton;
}
.projects-btn:hover {
  @include blueButtonHover;
}

.seperator-skew {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  // height: 150px;
  width: 100%;
  overflow: hidden;
}
header .seperator-skew svg .fill-white {
  fill: white;
}
.socials {
  position: absolute;
  bottom: 40%;
  left: -125px;
}
.socials__item {
  transition: 0.3s;
  width: 100%;
  // display: flex;
  // justify-content: end;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
}
.socials__item:hover {
  transform: translateX(115px);
}
.socials__blue {
  background-color: $blue-color;
  color: #ffffff;
}
.socials__dark {
  background-color: #2e3031;
  color: #ffffff;
}
.socials__light {
  background-color: #ffffff;
  color: #2e3031;;
}
.socials__link {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  height: 100%;
  width: 100%;
  padding: 15px 20px;
  
}
.socials__text {
  @include regularText;
  font-size: 1.5rem;

}
@media screen and (max-width: 769px) {
  .header__nav {
    display: none;
  }
  .header-burger {
    display: block;
  }
  .socials {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  .header__btns {
    flex-direction: column;
    padding: 0 1.5rem;
    width: 100%;
    gap: 12px;
  }
  .projects-btn {
    width: 100%;
  }
  .github-btn {
    width: 100%;
  }
}
