$font-family: "Inter", Arial, Helvetica, sans-serif;
$font-color: #118dff;
$blue-color: #3b82f6;
$max-width: 1200px;
@mixin regularText {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
}
@mixin mediumText {
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
}
@mixin semiBoldText {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
}
@mixin boldText {
  font-family: $font-family;
  font-style: normal;
  font-weight: 700;
}
@mixin extraBoldText {
  font-family: $font-family;
  font-style: normal;
  font-weight: 900;
}

@mixin alfaText {
  font-family: "Alfa Slab One", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
@mixin hover {
  opacity: 0.6;
}

@mixin maxWidthLarge {
  max-width: 1440px;
}
@mixin maxWidthMedium {
  max-width: 1200px;
}
@mixin maxWidthSmall {
  max-width: 688px;
}
@mixin maxWidthExtraSmall {
  max-width: 280px;
}

@mixin transparentButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0.8rem 1.5rem;
  font-family: $font-family;
  font-size: 16px;
  line-height: 24px;
  color: $blue-color;
  background-color: transparent;
  border: 2px solid $blue-color;
  border-radius: 3px;
  transition: .5s;
}
@mixin transparentButtonHover {
  color: white;
  background-color: $blue-color;
}

@mixin blueButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0.8rem 1.5rem;
  font-family: $font-family;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: $blue-color;
  border: 2px solid $blue-color;
  border-radius: 3px;
  transition: .5s;
}

@mixin blueButtonHover {
  transition: all 0.3s ease;
  background: #0b63f3;
  border: 2px solid #0b63f3;
}
